***TWITTER SENTIMENT ANALYYSIS***

*IMPORTS*

In [79]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

*LOADING DATASET*

In [91]:
path = './Dataset/tweets01.csv'
data = pd.read_csv(path, encoding="Latin-1", names=['sentiment', 'uid', 'timestamp', 'flag', 'username', 'tweet'])
print("Tweets loaded successfully!")

Tweets loaded successfully!

*EXPLORATORY DATA ANALYSIS*

In [93]:
data.shape

(1600000, 6)

In [94]:
data.head()

,sentiment,uid,timestamp,flag,username,tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [95]:
data.describe()

          sentiment           uid
count  1.600000e+06  1.600000e+06
mean   2.000000e+00  1.998818e+09
std    2.000001e+00  1.935761e+08
min    0.000000e+00  1.467810e+09
25%    0.000000e+00  1.956916e+09
50%    2.000000e+00  2.002102e+09
75%    4.000000e+00  2.177059e+09
max    4.000000e+00  2.329206e+09

In [97]:
data['sentiment'].value_counts()

0    800000
4    800000
Name: sentiment, dtype: int64